name: Build APK via Docker
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and Deploy APK (Using Kivy Official Docker)
        uses: docker://kivy/buildozer:stable
        with:
          args: buildozer android debug --sdk 33 --android-api 30

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Kivy-Sarf-App
          path: bin/*.apk
