name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: Artem-B/buildozer-action@v1  
        with:
          command: buildozer android debug
          buildozer_args: --sdk 33 --android-api 27
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Kivy-Sarf-App
          path: bin/*.apk
